body {
  color: #35465c;
  font: 400 14px CoreSans, Arial,sans-serif;
  height: 100%;
  background: #f2f7fa;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
}
a {
  color: #222;
}
a:hover {
  text-decoration: underline;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}
button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #808080;
  cursor: pointer;
}
button:hover {
  color: #222;
}
*:focus {
  outline: none;
}

/*---------------
      App
----------------*/

.page {
  margin: 20px;
}
.interactions {
  text-align: center;
}
.table {
  margin: 20px 0;
}
.table-header {
  display: flex;
  line-height: 24px;
  font-size: 16px;
  justify-content: space-between;
  padding: 10px;
  background: #ffffff;
}
.table-empty {
  margin: 200px;
  text-align: center;
  font-size: 16px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #ffffff;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-header > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-header > span:first-child {
  padding-left: 0;
}
.table-row > span:first-child {
  padding-left: 0;
}
.table-header > span:last-child {
  padding-right: 0;
}
.table-row > span:last-child {
  padding-right: 0;
}
.button-inline {
  background: #b1b134;
  color: #ffffff;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 5px 20px;
  font-size: inherit;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.button-inline:hover{
  color: white;
  background: #bbd634;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
.button-submit{
  padding: 10px 30px;
}
.button-active {
  border-radius: 0;
  border-bottom: 1px solid #38BB6C;
}

.large-column{
  width: 40%;
}
.mid-column{
  width: 30%;
}
.small-column{
  width: 10%;
  text-align: center;
}
.error-app{
  width: 100%;
  font-size: 30px;
  color: white;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding: 50px 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hits-title-link{
  color: #eb5a46;
  font-weight: 700;
}
.hits-author{
  color: #355ebe;
}
.loading-spinner{
  font-size:3em;
  color:#eb5a46;
}

.button-row{
  display: inline-block;
  background: white;
  width: 100%;
  border: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font: 400 13.3333px Arial;
  color: #808080;
  background: #f9f9f9;
  padding: 10px;
  text-align: center;
}
.button-row:hover{
  background: rgba(235, 90, 70, 0.1);
}
span.button-row, span.button-row:hover{
  background: none;
}

.button-active{
  background: #b7b7442b;
}
.display-none{
  visibility: hidden;
}
.button-row>i{
  width: 10px;
}
.title-app-wrap{
  width: 100%;
  text-align: center;
}
.title-app-link{
  text-decoration: none;
  color: #9e9e9e;
  display: inline-block;
}
.title-app{
  padding: 0;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 480px) {
    .page{
      margin: 0;
      padding: 0;
    }
  .mid-column, .small-column, .large-column{
    width: 20%;
  }
  .table-header{
    padding: 2px;
  }
  .button-row, .table-row{
    font-size: 12px;
    padding: 10px 0;
    text-align: center;
  }

}